<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>BUZZ</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg nav-dark" style="background-color: #3f48cc">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.jpg" alt="BUZZ" width="200" height="100">
            </a>
                <div class="d-flex">
                    <a href="/signUp" class="btn btn-light" style="color: #3f48cc" th:if="${!loggedIn}">Зареєструватися</a>
                    <a href="/login" class="btn btn-primary" style="color: white" th:if="${!loggedIn}">Увійти</a>
                    <a href="/logout" class="btn btn-light" style="color: #3f48cc" th:if="${loggedIn}">Вийти</a>
                    <a href="" class="btn btn-primary" style="color: white" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">Персональний кабінет</a>
                    <a href="/admin" class="btn btn-danger" style="color: white" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Адміністративна панель</a>
                </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form th:action="@{/buzz/trains}" th:object="${findTrain}" method="Get">
        <div class="container my-5">
            <div class="card p-4 w-75">
                <div class="d-flex justify-content-between align-items-center" >
                    <h1 class="text-center w-100" style="color: #3f48cc">Замовлення залізничних квитків</h1>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="search-container me-2">
                        <input type="text" class="form-control" autocomplete="off" th:field="*{pointVid}" placeholder="Звідки" id="searchInputVid" oninput="searchVid()" required/>
                        <ul id="searchResultsVid"></ul>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                    <div class="search-container me-2">
                        <input type="text" class="form-control" autocomplete="off" th:field="*{pointDo}" placeholder="Куди" id="searchInputDo" oninput="searchDo()" required/>
                        <ul id="searchResultsDo"></ul>
                    </div>
                    <input type="date" class="form-control" autocomplete="off" th:field="*{date}" name="timeToGos" id="dateToGos" th:min="${minDate}" th:max="${maxDate}" required/>
                    <button type="submit" class="btn btn-primary">Знайти</button>
                </div>
            </div>
        </div>
    </form>
    <br>
    <br>

    <div class="container d-flex justify-content-center align-items-center mb-2 my-5">
        <div class="recent-purchases card">
            <h2>Щойно придбали</h2>
            <ul>
                <li th:each="ticket :${last4Tickets}">
                    <span th:text="${ticket.train.pointVid}"></span> -> <span th:text="${ticket.train.pointDo}"></span>
                </li>

            </ul>
        </div>



        <div class="total-tickets card">
            <h2>Всього квитків продано</h2>
            <div >
            <h1><span th:text="${count}"></span>!</h1>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-expand-lg nav-dark" style="background-color: #3f48cc">
        <div class="container">
            <a style="color: white">Технічна підтримка: 0 (800) 503-111</a>
            <a style="color: white">Довідкова служба: 0 (800) 503-111</a>
            <a style="color: white">Email: booking@uz.gov.ua</a>
            <a style="color: white">Контакт центр "Якість та сервіс": 0 (800) 503-111</a>
        </div>
    </nav>
    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>